.mobile-btn {
    width: 40px;
    height: 30px;
}

.mobile-btn span {
    width: 100%;
    height: 3px;
    display: block;
    background-color: #fff;
    position: relative;
}

.mobile-btn span::before,
.mobile-btn span::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    transition: .5s;
}

.mobile-btn span::before {
    top: -13px;

}

.mobile-btn span::after {
    top: 13px;
}

/* animatiom burger menu */

.show-mobile-btn span::before {
    transform: rotate(45deg);
}

.show-mobile-btn span::after {
    transform: rotate(-45deg);
}

.show-mobile-btn span::before,
.show-mobile-btn span::after {
    top: 0;
    bottom: 0;
}

.show-mobile-btn span {
    background: transparent ;
}




